    <?xml version="1.0"?>
    <config>
        <modules>
            <Kolibrii_Banner>
                <version>1.0.0</version>
            </Kolibrii_Banner>
        </modules>
        <frontend>
            <routers>
                <banner>
                    <use>standard</use>
                    <args>
                        <module>Kolibrii_Banner</module>
                        <frontName>banner</frontName>
                    </args>
                </banner>
            </routers>
            <layout>
                <updates>
                    <banner>
                        <file>banner.xml</file>
                    </banner>
                </updates>
            </layout>
        </frontend>   
        <global>
            <models>
                <banner>
                    <class>Kolibrii_Banner_Model</class>
                    <resourceModel>banner_mysql4</resourceModel>
                </banner>
                <banner_mysql4>
                    <class>Kolibrii_Banner_Model_Mysql4</class>
                    <entities>
                        <banner>
                            <table>banner</table>
                        </banner>
                    </entities>
                </banner_mysql4>
            </models>
            <resources>
                <banner_setup>
                    <setup>
                        <module>Kolibrii_Banner</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </banner_setup>
                <banner_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </banner_write>
                <banner_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </banner_read>
            </resources>
            <blocks>
                <banner>
                    <class>Kolibrii_Banner_Block</class>
                </banner>
            </blocks>
            <helpers>
                <banner>
                    <class>Kolibrii_Banner_Helper</class>
                </banner>
            </helpers>
        </global>
    </config>